# Compiled class files
*.class

# Astah Locks
*.lock

### Eclipse Data ###
.project
/.settings/
/bin/

# Eclipse Java Development Tools
.classpath

### Gradle ###
.gradle
/build/

#Mac DS file
.DS_Store

/.vscode/