@font-face {
	font-family: "Open Sans Bold";
	src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
	font-family: "Open Sans SemiBold";
	src: url('../fonts/OpenSans-SemiBold.ttf');
}


@font-face {
	font-family: "Open Sans";
	src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: "Open Sans ExtraBold";
	src: url('../fonts/OpenSans-ExtraBold.ttf');
}


.root {
	-fx-background-color: white;
	-fx-font-family: "Open Sans";
}

#side-ribbon {
	-fx-background-color: #e8bb46;
	-fx-border-width: 0;
	-fx-border-radius: 0;
	-fx-padding: 12 6 120 6;
	-fx-alignment: top-center;
	-fx-spacing: 12;
}

#side-ribbon > .button {
	-fx-background-color: transparent;
	-fx-background-radius: 24;
	-fx-border-width: 1;
	-fx-border-radius: 0;
}

#side-ribbon > .button:hover {
	-fx-background-color: rgba(0,0,0,0.25);
	-fx-border-width: 0;
	-fx-border-radius: 0;
}

#side-ribbon > .button:pressed {
	-fx-background-color: rgba(0,0,0,0.5);
	-fx-border-width: 0;
	-fx-border-radius: 0;
}

.side-menu {
	-fx-border-style: solid solid none none;
	-fx-border-width: 0.5;
	-fx-border-color: darkgrey;
	-fx-padding: 12 12 48 12;
	-fx-background-color: white;
}


#search-menu {
	-fx-background-color: white;
	-fx-border-width: 0;
	-fx-border-radius: 0;
	-fx-padding: 0 0 0 0;
	-fx-font-size: 8pt;
}

#search-menu > .text-field {
	-fx-background-color: transparent;
	-fx-padding: 2 4 2 4;
	-fx-alignment: center-left;
}

#search-menu > .search-box {
	-fx-background-color: #e3e3e3;
	-fx-border-width: 0.5;
	-fx-border-color: #e3e3e3;
	-fx-padding: 0 0 0 0;
	
	-fx-alignment: center-left;
	
	-fx-background-radius: 2;
	-fx-border-radius: 2;
}

#search-menu > .search-box:focused {
	-fx-border-color: lightgrey;
}

#search-menu > .search-box > #search-field {
	-fx-background-color: transparent;
	-fx-padding: 2 4 2 4;
	-fx-alignment: center-left;
	-fx-font-size: 10pt;
	-fx-font-family: "Open Sans SemiBold"
}

#search-menu > .search-box > #filter-field {
	-fx-background-color: transparent;
	-fx-padding: 2 4 2 4;
	-fx-alignment: center-left;
	-fx-font-size: 8pt;
	-fx-font-family: "Open Sans"
}

#search-menu > .search-box > .button {
	-fx-border-width: 0;
	-fx-background-color: transparent;
	-fx-background-radius: 24;
}

#search-menu > .search-box > .button:hover {
	-fx-background-color: rgba(0,0,0,0.25);
	
}

#search-menu > .search-box > .button:pressed {
	-fx-background-color: rgba(0,0,0,0.5);
}

.list-view {
	-fx-cell-size: 24;
	-fx-border-width: 0.5;
	-fx-border-color: #e3e3e3;
	-fx-border-radius: 2;
	-fx-font-size: 10pt;
	
}

.list-cell:even, .list-cell:odd {
	-fx-background-color: white;
}


.list-cell:filled:selected, .list-cell:filled:selected:focused {
	-fx-background-color: #70a3bb;
	-fx-text-fill: black;
}

.list-cell:filled:hover, .list-cell:filled:selected:hover {
	-fx-background-color: lightgrey;
}

#detail-menu {
	-fx-background-color: transparent;
	-fx-border-width: 0.5;
	-fx-border-radius: 0;
	-fx-border-style: none solid none none;
	-fx-border-color: darkgrey;
}

#detail-menu > .hbox {
	-fx-spacing: 24;
	-fx-alignment: center-left;
	-fx-border-width: 0.5;
	-fx-border-style: solid none solid none;
	-fx-border-color: darkgrey;
}

#detail-menu > .hbox > .button {
	-fx-background-color: transparent;
	-fx-background-radius: 24;
	-fx-background-insets: 3 6 3 6;
	-fx-border-width: 0;
	-fx-border-radius: 0;
	-fx-padding: 6 12 6 12
}

#detail-menu > .hbox > .button:hover {
	-fx-background-color: rgba(0,0,0,0.25);
	
}

#detail-menu > .hbox > .button:pressed {
	-fx-background-color: rgba(0,0,0,0.5);
}

#detail-menu > .hbox > .label {
	-fx-font-family: "Open Sans Bold";
	-fx-font-size: 10pt;
}

#detail-menu > .scroll-pane {
	-fx-padding: 12 12 48 12;
	-fx-border-width: 0.5;
	-fx-border-style: none solid none none;
	-fx-border-radius: 0;
	-fx-background-color: transparent;
}

#detail-menu > .scroll-pane > .viewport {
	-fx-background-color: transparent;
}

#monster-detail {
	-fx-background-color: transparent;	
	-fx-padding: 12 0 0 0;
	-fx-spacing: 12;
}

#monster-detail > #detail-grid {
	-fx-background-color: white;	
	-fx-hgap: 12;
}

#monster-detail > #detail-grid > .label {
	-fx-font-family: "Open Sans SemiBold";
}

#monster-detail > #detail-grid > .text-field {
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-border-radius: 0;
	-fx-padding: 3 0 3 0;
}

#monster-detail > #detail-grid > .text-field:hover {
	-fx-background-color: rgba(0,0,0,0.1);
}


#monster-detail > #detail-grid > .text-field:focused {
	-fx-background-color: rgba(0,0,0,0.2);
}

#stat-table {
	
}

#stat-table > .label {
	-fx-font-family: "Open Sans";
}

#stat-table > .text-field {
	-fx-background-color: rgba(0,0,0,0.1);
	-fx-background-radius: 24;
	-fx-alignment: center;
	-fx-padding: 3 0 3 0;
}

.number-text-field:hover{
	-fx-background-color: rgba(0,0,0,0.15);
}

.number-text-field:focused{
	-fx-background-color: rgba(0,0,0,0.2);
}

