@font-face {
	font-family: "Open Sans Bold";
	src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
	font-family: "Open Sans SemiBold";
	src: url('../fonts/OpenSans-SemiBold.ttf');
}


@font-face {
	font-family: "Open Sans";
	src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: "Open Sans ExtraBold";
	src: url('../fonts/OpenSans-ExtraBold.ttf');
}


.root {
	-fx-background-color: white;
	-fx-font-family: "Open Sans";
}

#side-ribbon {
	-fx-background-color: #e8bb46;
	
	-fx-border-style: solid;
	-fx-border-width: 0 1 0 0;
	-fx-border-radius: 0;
	-fx-border-color:black;
	
	
	-fx-padding: 12 6 120 6;
	-fx-alignment: top-center;
	-fx-spacing: 12;
}

#side-ribbon > .button {
	-fx-background-color: transparent;
	-fx-background-radius: 24;
	-fx-border-width: 1;
	-fx-border-radius: 0;
}

#side-ribbon > .button:hover {
	-fx-background-color: rgba(0,0,0,0.25);
	-fx-border-width: 0;
	-fx-border-radius: 0;
}

#side-ribbon > .button:pressed {
	-fx-background-color: rgba(0,0,0,0.5);
	-fx-border-width: 0;
	-fx-border-radius: 0;
}

#menu-wrapper {
	
	-fx-background-color: white;
	
	-fx-padding: 0;
	
	-fx-border-style: solid;
	-fx-border-width: 0 1 0 0;
	-fx-border-color: black;
	
}

#menu-header {
	-fx-padding: 0;
	-fx-alignment: center-right;
	-fx-border-style: solid;
	-fx-border-color: black;
	-fx-border-width: 1 0 1 0;
	
	-fx-background-color: white;
	
	
}

.test-pane {
	-fx-background-color:green;
	
	-fx-border-radius: 0;
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-border-color:red;
}

.test {
	-fx-border-radius: 0;
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-border-color: red;
}

#menu-header-label {
	-fx-background-radius: 0;
	-fx-background-color: transparent;
	-fx-alighment: center;
	
	
	-fx-border-style: solid;
	-fx-border-width: 0;
	-fx-border-color: black;
	
	-fx-background-color: transparent;
	
	-fx-font-family: "Open Sans Bold";
	
}

#menu-header-back-button {
	-fx-background-color: E6CA2E;
	-fx-font-family: "Open Sans SemiBold";
	-fx-font-size: 10pt;
	-fx-text-fill: black;
	-fx-border-width: 0 1 0 0;
}

#menu-header-back-button:hover {
	-fx-background-color: CCB429;
}

#menu-header-back-button:pressed {
	-fx-background-color: B39E24;
}

#menu-header-exit-button {
	-fx-background-color: FF6347;
	-fx-font-family: "Open Sans SemiBold";
	-fx-font-size: 10pt;
	-fx-text-fill: black;
	
	-fx-border-style: solid;
	-fx-border-color: black;	
	-fx-border-width: 0 0 0 1;
}

#menu-header-exit-button:hover {
	-fx-background-color: E65940;
}

#menu-header-exit-button:pressed {
	-fx-background-color: CC4F39;
}

#menu-holder {
	-fx-background-color: white;
	-fx-padding: 0;
	-fx-border-width: 0;
	
	-fx-alignment: top-left;
	
}

#menu-scroller {
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-padding: 0;
}

#menu-scroller:focused {
	-fx-background-insets: 0;
	-fx-padding: 0;
}

#menu-scroller .corner {
	-fx-background-insets: 0;
	-fx-padding: 0;
}


#menu-scroller >.viewport {
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-width: 0;
}

#menu-scroller .scroll-bar:vertical {
    -fx-unit-increment: 10 ;
    -fx-block-increment: 50 ;
    
    
}

#menu-scroller .scroll-bar:horizontal {
    -fx-unit-increment: 5 ;
    -fx-block-increment: 20 ;
}

#monster-detail-menu {
	-fx-background-color: black;	
	-fx-padding: 0;
	-fx-spacing: 1;
	-fx-border-width: 0;
}

#monster-detail-menu > #detail-grid {
	-fx-background-color: white;	
	-fx-vgap: 6;
	-fx-hgap: 0;
	-fx-border-style: solid;
	-fx-border-width: 0 0 0 0;
	-fx-border-color: black;
	-fx-grid-lines-visible: false;
	-fx-padding: 12;
	
}

#detail-grid > .brutal-label {
	-fx-border-width: 0 1 0 1;	
}

.section-label {
	-fx-background-color:white;
	-fx-alignment: center-left;
	-fx-padding: 12;
}

.section-label > .label {
	-fx-font-family: "Open Sans Bold";
}



.brutal-button {
	-fx-background-radius: 0;
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	
	-fx-border-radius: 0;
	-fx-border-style: solid;
	-fx-border-color: black;
	-fx-border-width: 1;
	-fx-alignment: center;
	
	-fx-padding: 6;
	
	-fx-font-family: "Open Sans SemiBold";
}

.brutal-button:hover {
	
}

.brutal-button:pressed {
	-fx-background-color: rgba(0,0,0,0.5);
}


.brutal-label {
	-fx-background-color: transparent;
	-fx-border-style: none;
	-fx-font-family: "Open Sans SemiBold";
	
}

.brutal-text-field {
	-fx-background-color: white;
	-fx-background-radius: 0;
	
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-border-color: black;
	-fx-border-radius: 0;
	
	-fx-font-family: "Open Sans Bold";
	-fx-padding: 6;
}

.brutal-blank-text-field {
	-fx-background-color: white;
	-fx-background-radius: 0;
	
	-fx-border-style: none;
	-fx-border-width: 0;
	-fx-border-color: black;
	-fx-border-radius: 0;
	
	-fx-font-family: "Open Sans Bold";
	-fx-padding: 6;
}

.brutal-text-field:hover,
.brutal-blank-text-field:hover {
	-fx-background-color: F0F0F0;
}

.brutal-text-field:focused,
.brutal-blank-text-field:focused {
	-fx-background-color: D0D0D0;
}


.brutal-combo-box {
	-fx-border-color: black;
	-fx-border-radius: 0;
	
	-fx-background-color: white;
	-fx-background-radius: 0;
	
	-fx-padding: 3;
	
	-fx-font-family: "Open Sans Bold";
}

.brutal-prof-combo-box {
	-fx-border-color: black;
	-fx-border-radius: 0;
	-fx-border-style: none;
	-fx-border-width:0;
	
	-fx-background-color: white;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	
	-fx-padding: 0;
	
	-fx-font-family: "Open Sans Bold";
	-fx-font-size: 10;
}


.brutal-combo-box > .arrow-button,
.brutal-prof-combo-box > .arrow-button {
	-fx-background-color: transparent;
	-fx-padding: 6;
}

.brutal-combo-box:hover,
.brutal-prof-combo-box: hover {
	-fx-background-color: F0F0F0;
}

.brutal-combo-box:pressed,
.brutal-prof-combo-box:pressed {
	-fx-background-color: D0D0D0;
}

.brutal-combo-box > .list-cell,
.brutal-prof-combo-box > .list-cell {
	-fx-background-color: transparent;
}

.brutal-combo-cell:even, .brutal-combo-cell:odd {
	-fx-background-color: white;
	-fx-text-fill: black;
}

.brutal-combo-cell:filled:selected,
.brutal-combo-cell:filled:selected:focused {
	-fx-background-color: D0D0D0;
	-fx-text-fill: black;
}

.brutal-combo-cell:filled:hover,
.brutal-combo-cell:filled:selected:hover {
	-fx-background-color: F0F0F0;
	-fx-text-fill: black;
}

.brutal-combo-cell > .label {
	-fx-text-fill: black;
}

.scroll-bar:vertical,
.scroll-bar:horizontal {
	-fx-background-color: transparent;
	
	-fx-border-style:none;
	-fx-border-color:black;
	-fx-border-width: 0 0 0 0;
}

.increment-button, .decrement-button {
	-fx-background-color: transparent;
	-fx-border-width: 0;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color:black;
    -fx-border-insets: 2;
}

#stat-grid {
	-fx-vgap: 1;
	-fx-hgap: 1;
	-fx-padding: 1;
	-fx-background-color:black;
}

#stat-grid > .holder-pane {
	-fx-background-color: white;
	-fx-alignment: center;
}

#stat-grid > .holder-pane > .label {
	-fx-padding: 3;
	-fx-font-size: 10pt;
	-fx-font-family: "Open Sans SemiBold";
	-fx-alignment: center
}

#stat-grid > .brutal-text-field {
	-fx-border-width: 0;
	-fx-alignment: center;
}

.brutal-grid {
	-fx-background-color: black;
	-fx-background-radius: 0;
	
	-fx-border-style: none;
	-fx-border-width: 0;
	-fx-border-radius: 0;
	
	-fx-vgap: 1;
	-fx-hgap: 1;
	-fx-padding: 1;
}

.brutal-prof-cell-grid {
	-fx-background-color: black;
	-fx-background-radius: 0;
	
	-fx-border-style: none;
	-fx-border-width: 0;
	-fx-border-radius: 0;
	
	-fx-alignment: center-left;
	
	-fx-vgap: 1;
	-fx-hgap: 1;
	-fx-padding: 0;
}

.brutal-prof-editor-grid {
	-fx-background-color: black;
	-fx-background-radius: 0;
	
	-fx-border-style: none;
	-fx-border-width: 0;
	-fx-border-radius: 0;
	
	-fx-alignment: center;
	
	-fx-hgap: 1;
	-fx-padding: 0;
}

.brutal-holder {
	-fx-padding: 6 12 6 12;
	-fx-background-color: white;
}

.brutal-blank-holder {
	-fx-background-color: white;
	-fx-alignment: center;
}

.brutal-blank-left-holder {
	-fx-background-color: white;
	-fx-alignment: top-left;
}

#prof-list {
	-fx-border-style:none;
	-fx-border-width: 0;
}

.brutal-list-view {
	-fx-background-color: F0F0F0;
	
	-fx-cell-size: 24;
	-fx-border-width: 1;
	-fx-border-color: black;
	-fx-border-radius: 0;
	-fx-font-size: 10pt;
	
	-fx-padding: 6 0 6 0;
	
}


.brutal-list-view {
	-fx-background-color: F0F0F0;
	
	-fx-cell-size: 24;
	-fx-border-width: 1;
	-fx-border-color: black;
	-fx-border-radius: 0;
	-fx-font-size: 10pt;
	
	-fx-padding: 6 0 6 0;
	
}

.brutal-list-view:focused {
	-fx-background-insets: 0;
	
}


.brutal-list-cell:even, .brutal-list-cell:odd {
	-fx-background-color: F0F0F0, black;
	-fx-background-insets: 1, 2;
	-fx-padding:3;
}

.brutal-cell-holder {
	-fx-background-color: white;
	-fx-alignment: center-left;
	-fx-padding: 3;
}

.brutal-cell-holder > .label {
	-fx-font-family: "Open Sans SemiBold";
	-fx-text-fill: black;
	
}

.brutal-list-cell:empty {
	-fx-background-color: transparent;
}


.brutal-list-cell:filled:selected,
.brutal-list-cell:filled:selected:focused {
	-fx-background-color: transparent, black;
	-fx-background-insets: 1, 2;
	-fx-text-fill: black;
}

.brutal-list-cell:filled:selected > .brutal-cell-holder,
.brutal-list-cell:filled:selected:focused > .brutal-cell-holder,
.brutal-list-cell:filled:selected > .brutal-prof-cell-grid > .brutal-holder,
.brutal-list-cell:filled:selected:focused > .brutal-prof-cell-grid > .brutal-holder {
	-fx-background-color: #96C7f0;
	-fx-text-fill: black;
}

.brutal-list-cell:filled:selected > .brutal-prof-cell-grid > .brutal-holder > .brutal-label,
.brutal-list-cell:filled:selected:focused > .brutal-prof-cell-grid > .brutal-holder > .brutal-label {
	-fx-text-fill: black;
}

.brutal-list-cell:filled:hover,
.brutal-list-cell:filled:selected:hover {
	-fx-background-color: transparent, black;
	-fx-background-insets: 1, 2;
	-fx-text-fill:black;
}

.brutal-list-cell:filled:hover > .brutal-cell-holder,
.brutal-list-cell:filled:selected:hover > .brutal-cell-holder,
.brutal-list-cell:filled:hover > .brutal-prof-cell-grid > .brutal-holder,
.brutal-list-cell:filled:selected:hover > .brutal-prof-cell-grid > .brutal-holder {
	-fx-background-color: D0D0D0;
	-fx-text-fill:black;
}


#search-menu {
	-fx-background-color: white;	
	-fx-padding: 6 12 24 12;
	-fx-spacing: 6;
	-fx-border-width: 0;
	
	-fx-alignment: top-left;
}


#search-button {
	-fx-background-color: #3B5FCC;
	-fx-background-radius: 0;
	
	-fx-border-style: none;
	-fx-border-width: 0;
	
	-fx-font-family: "Open Sans Bold";
	-fx-text-fill: white;
}

#search-button:hover {
	-fx-background-color: #3454B3;
}

#search-button:pressed {
	-fx-background-color: #2C4799;
}

#save-prof-button {
	-fx-background-color:lightgreen;
	-fx-border-width: 0;
	
}

#clear-prof-button {
	-fx-background-color: tomato;
	-fx-border-width: 0;
}

#delete-prof-button {
	-fx-background-color: tomato;
	-fx-border-width: 0;
}


.cool-button {
	-fx-background-color: transparent;
	-fx-background-radius: 24;
	-fx-padding: 6;
	-fx-border-width: 0;
	-fx-border-radius: 0;
}

.cool-button:hover {
	-fx-background-color: rgba(0,0,0,0.25);
	-fx-border-width: 0;
	-fx-border-radius: 0;
}

.cool-button:pressed {
	-fx-background-color: rgba(0,0,0,0.5);
	-fx-border-width: 0;
	-fx-border-radius: 0;
}


.cool-text-button {
	-fx-background-color: rgba(0,0,0,0.1);
	-fx-background-radius: 2;
	-fx-padding: 6 12 6 12;
	-fx-border-width: 0;
	-fx-border-radius: 0;
}

.cool-text-button:hover {
	-fx-background-color: rgba(0,0,0,0.25);
}

.cool-text-button:pressed {
	-fx-background-color: rgba(0,0,0,0.5);
}

.cool-label {
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-font-family: "Open Sans SemiBold";
	-fx-padding: 6 12 6 12;
}

.side-menu {
	-fx-border-style: solid solid none none;
	-fx-border-width: 0.5;
	-fx-border-color: darkgrey;
	-fx-padding: 12 12 48 12;
	-fx-background-color: white;
}


/*#search-menu {
	-fx-background-color: white;
	-fx-border-width: 0;
	-fx-border-radius: 0;
	-fx-padding: 0 0 0 0;
	-fx-font-size: 8pt;
}

#search-menu > .text-field {
	-fx-background-color: transparent;
	-fx-padding: 2 4 2 4;
	-fx-alignment: center-left;
}

#search-menu > .search-box {
	-fx-background-color: transparent; /*rgba(0,0,0,0.2);
	-fx-border-width: 0;
	
	-fx-alignment: center-left;
})

#search-menu > .search-box > .text-field {
	-fx-background-color: rgba(0,0,0,0.1);
	-fx-padding: 2 4 2 4;
	-fx-alignment: center-left;
	-fx-font-size: 10pt;
	-fx-font-family: "Open Sans SemiBold";
	-fx-border-width: 2;
	-fx-border-radius: 4;
	-fx-border-style: none none solid none;
	-fx-border-color: transparent;
}

#search-menu > .search-box > .text-field:hover {
	-fx-background-color: rgba(0,0,0,0.2);
}

#search-menu > .search-box > .text-field:focused {
	-fx-background-color: transparent;
	-fx-border-color: #70a3bb;
}

#search-menu > .search-box > #filter-field {
	-fx-background-color: transparent;
	-fx-padding: 2 4 2 4;
	-fx-alignment: center-left;
	-fx-font-size: 8pt;
	-fx-font-family: "Open Sans"
}

#search-menu > .search-box > .button {
	-fx-border-width: 0;
	-fx-background-color: transparent;
	-fx-background-radius: 24;
}

#search-menu > .search-box > .button:hover {
	-fx-background-color: rgba(0,0,0,0.25);
	
}

#search-menu > .search-box > .button:pressed {
	-fx-background-color: rgba(0,0,0,0.5);
}*/

.cool-list-view {
	-fx-cell-size: 24;
	-fx-border-width: 0.5;
	-fx-border-color: #e3e3e3;
	-fx-border-radius: 2;
	-fx-font-size: 10pt;
	
	
}

.cool-list-cell:even, .cool-list-cell:odd {
	-fx-background-color: white;
}


.cool-list-cell:filled:selected, .cool-list-cell:filled:selected:focused {
	-fx-background-color: #70a3bb;
	-fx-text-fill: black;
}

.cool-list-cell:filled:hover,.cool-list-cell:filled:selected:hover {
	-fx-background-color: lightgrey;
}



.proficiency-label {
	-fx-font-family: "Open Sans";
	-fx-text-fill: black;
}

.cool-section-label {
	-fx-font-family: "Open Sans SemiBold";
	-fx-text-fill: black;
}


#detail-menu {
	-fx-background-color: transparent;
	-fx-border-width: 0.5;
	-fx-border-radius: 0;
	-fx-border-style: none solid none none;
	-fx-border-color: darkgrey;
}

#detail-menu > .hbox {
	-fx-spacing: 24;
	-fx-alignment: center-left;
	-fx-border-width: 0;
	-fx-border-style: solid none solid none;
	-fx-border-color: darkgrey;
}

#detail-menu > .hbox > .button {
	-fx-background-color: transparent;
	-fx-background-radius: 24;
	-fx-background-insets: 3 6 3 6;
	-fx-border-width: 0;
	-fx-border-radius: 0;
	-fx-padding: 6 12 6 12
}

#detail-menu > .hbox > .button:hover {
	-fx-background-color: rgba(0,0,0,0.25);
	
}

#detail-menu > .hbox > .button:pressed {
	-fx-background-color: rgba(0,0,0,0.5);
}

#detail-menu > .hbox > .label {
	-fx-font-family: "Open Sans Bold";
	-fx-font-size: 10pt;
}

#detail-menu > .scroll-pane {
	-fx-padding: 0 12 0 12;
	-fx-border-width: 0.5;
	-fx-border-style: none solid none none;
	-fx-border-radius: 0;
	-fx-background-color: transparent;
}


#detail-menu > .scroll-pane > .viewport {
	-fx-background-color: transparent;
}


#stat-table {
	
}

#stat-table > .label {
	-fx-font-family: "Open Sans SemiBold";
}

#stat-table > .stat-row > .label {
	-fx-font-family: "Open Sans SemiBold";
}

.number-field {
	-fx-background-color: rgba(0,0,0,0.1);
	-fx-background-radius: 24;
	-fx-alignment: center;
	-fx-padding: 3 0 3 0;
	-fx-border-width: 2;
	-fx-border-radius: 24;
	-fx-border-color: transparent;
}

.number-field:hover{
	-fx-background-color: rgba(0,0,0,0.2);
}

.number-field:focused{
	-fx-background-color: transparent;
	-fx-border-color: #70a3bb;
}

#stat-table > .stat-row > .text-field {
	-fx-background-color: rgba(0,0,0,0.1);
	-fx-background-radius: 24;
	-fx-alignment: center;
	-fx-padding: 3 0 3 0;
	-fx-border-width: 2;
	-fx-border-radius: 24;
	-fx-border-color: transparent;
}

#stat-table > .stat-row > .text-field:hover{
	-fx-background-color: rgba(0,0,0,0.2);
}

#stat-table > .stat-row > .text-field:focused{
	-fx-background-color: transparent;
	-fx-border-color: #70a3bb;
}

.prof-list {
	-fx-border-style: solid none solid none;
	-fx-border-width: 1;
	-fx-border-color: lightgrey;
	-fx-background-color: transparent;
}

.prof-list > scroll-bar:vertical {
	-fx-background-color: transparent;
	-fx-set-padding: 24;
}


.create-box {
	-fx-padding: 3 12 3 12;
}

.create-box > .button {
	-fx-border-width: 0;
	-fx-background-color: transparent;
	-fx-background-radius: 24;
}

.create-box > .button:hover {
	-fx-background-color: rgba(0,0,0,0.25);
	
}

.create-box > .button:pressed {
	-fx-background-color: rgba(0,0,0,0.5);
}

.blank-text-field {
	-fx-background-color: transparent;
	-fx-border-width: 2;
	-fx-border-radius: 4;
	-fx-border-color: transparent;
	-fx-padding: 3 6 3 6;
	-fx-font-family: "Open Sans";
	-fx-font-size: 10pt;
}

.blank-text-field:hover {
	-fx-background-color: rgba(0,0,0,0.1);
}


.blank-text-field:focused {
	-fx-border-color: #70a3bb;
	-fx-background-color: transparent;
}

.clean-text-field {
	-fx-background-color: transparent;
	-fx-border-width: 2;
	-fx-border-radius: 1;
	-fx-border-color: rgba(0,0,0,0.25);
	-fx-padding: 1.5 3 1.5 3;
	-fx-font-family: "Open Sans";
	-fx-font-size: 10pt;
}

.clean-text-field:hover {
	-fx-background-color: rgba(0,0,0,0.1);
}


.clean-text-field:focused {
	-fx-border-color: #70a3bb;
	-fx-background-color: transparent;
}

.cool-combo-box {
	-fx-border-color: rgba(0,0,0,0.1);
	-fx-background-color: rgba(0,0,0,0.1);
	-fx-padding: 0;
}


.cool-combo-box > .arrow-button {
	-fx-background-color: transparent;
	-fx-padding: 0;
}

.cool-combo-box:hover {
	-fx-background-color: rgba(0,0,0,0.25);
}

.cool-combo-box:pressed {
	-fx-background-color: rgba(0,0,0,0.5);
}

.cool-combo-box > .list-cell {
	-fx-background-color: transparent;
}

.cool-combo-cell:even, .cool-combo-cell:odd {
	-fx-background-color: white;
	-fx-text-fill: black;
}

.cool-combo-cell:filled:selected, .cool-combo-cell:filled:selected:focused {
	-fx-background-color: #70a3bb;
	-fx-text-fill: black;
}

.cool-combo-cell:filled:hover, .cool-combo-cell:filled:selected:hover {
	-fx-background-color: lightgrey;
	-fx-text-fill: black;
}

.cool-combo-cell > .label {
	-fx-text-fill: black;
}
