@font-face {
	font-family: "Open Sans Bold";
	src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
	font-family: "Open Sans SemiBold";
	src: url('../fonts/OpenSans-SemiBold.ttf');
}


@font-face {
	font-family: "Open Sans";
	src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: "Open Sans ExtraBold";
	src: url('../fonts/OpenSans-ExtraBold.ttf');
}


.root {
	-fx-background-color: white;
	-fx-font-family: "Open Sans";
}

#side-ribbon {
	-fx-background-color: #e8bb46;
	-fx-border-width: 0;
	-fx-border-radius: 0;
	-fx-padding: 12 6 120 6;
	-fx-alignment: top-center;
	-fx-spacing: 12;
}

#side-ribbon > .button {
	-fx-background-color: transparent;
	-fx-background-radius: 24;
	-fx-border-width: 1;
	-fx-border-radius: 0;
}

#side-ribbon > .button:hover {
	-fx-background-color: rgba(0,0,0,0.25);
	-fx-border-width: 0;
	-fx-border-radius: 0;
}

#side-ribbon > .button:pressed {
	-fx-background-color: rgba(0,0,0,0.5);
	-fx-border-width: 0;
	-fx-border-radius: 0;
}


.cool-button {
	-fx-background-color: transparent;
	-fx-background-radius: 24;
	-fx-border-width: 1;
	-fx-border-radius: 0;
}

.cool-button:hover {
	-fx-background-color: rgba(0,0,0,0.25);
	-fx-border-width: 0;
	-fx-border-radius: 0;
}

.cool-button:pressed {
	-fx-background-color: rgba(0,0,0,0.5);
	-fx-border-width: 0;
	-fx-border-radius: 0;
}

.side-menu {
	-fx-border-style: solid solid none none;
	-fx-border-width: 0.5;
	-fx-border-color: darkgrey;
	-fx-padding: 12 12 48 12;
	-fx-background-color: white;
}


#search-menu {
	-fx-background-color: white;
	-fx-border-width: 0;
	-fx-border-radius: 0;
	-fx-padding: 0 0 0 0;
	-fx-font-size: 8pt;
}

#search-menu > .text-field {
	-fx-background-color: transparent;
	-fx-padding: 2 4 2 4;
	-fx-alignment: center-left;
}

#search-menu > .search-box {
	-fx-background-color: transparent; /*rgba(0,0,0,0.2);*/
	-fx-border-width: 0;
	
	-fx-alignment: center-left;
}

#search-menu > .search-box > .text-field {
	-fx-background-color: rgba(0,0,0,0.1);
	-fx-padding: 2 4 2 4;
	-fx-alignment: center-left;
	-fx-font-size: 10pt;
	-fx-font-family: "Open Sans SemiBold";
	-fx-border-width: 2;
	-fx-border-radius: 4;
	-fx-border-style: none none solid none;
	-fx-border-color: transparent;
}

#search-menu > .search-box > .text-field:hover {
	-fx-background-color: rgba(0,0,0,0.2);
}

#search-menu > .search-box > .text-field:focused {
	-fx-background-color: transparent;
	-fx-border-color: #70a3bb;
}

#search-menu > .search-box > #filter-field {
	-fx-background-color: transparent;
	-fx-padding: 2 4 2 4;
	-fx-alignment: center-left;
	-fx-font-size: 8pt;
	-fx-font-family: "Open Sans"
}

#search-menu > .search-box > .button {
	-fx-border-width: 0;
	-fx-background-color: transparent;
	-fx-background-radius: 24;
}

#search-menu > .search-box > .button:hover {
	-fx-background-color: rgba(0,0,0,0.25);
	
}

#search-menu > .search-box > .button:pressed {
	-fx-background-color: rgba(0,0,0,0.5);
}

.cool-list-view {
	-fx-cell-size: 24;
	-fx-border-width: 0.5;
	-fx-border-color: #e3e3e3;
	-fx-border-radius: 2;
	-fx-font-size: 10pt;
	
	
}

.cool-list-cell:even, .cool-list-cell:odd {
	-fx-background-color: white;
}


.cool-list-cell:filled:selected, .cool-list-cell:filled:selected:focused {
	-fx-background-color: #70a3bb;
	-fx-text-fill: black;
}

.cool-list-cell:filled:hover,.cool-list-cell:filled:selected:hover {
	-fx-background-color: lightgrey;
}



.proficiency-label {
	-fx-font-family: "Open Sans";
	-fx-text-fill: black;
}


#detail-menu {
	-fx-background-color: transparent;
	-fx-border-width: 0.5;
	-fx-border-radius: 0;
	-fx-border-style: none solid none none;
	-fx-border-color: darkgrey;
}

#detail-menu > .hbox {
	-fx-spacing: 24;
	-fx-alignment: center-left;
	-fx-border-width: 0;
	-fx-border-style: solid none solid none;
	-fx-border-color: darkgrey;
}

#detail-menu > .hbox > .button {
	-fx-background-color: transparent;
	-fx-background-radius: 24;
	-fx-background-insets: 3 6 3 6;
	-fx-border-width: 0;
	-fx-border-radius: 0;
	-fx-padding: 6 12 6 12
}

#detail-menu > .hbox > .button:hover {
	-fx-background-color: rgba(0,0,0,0.25);
	
}

#detail-menu > .hbox > .button:pressed {
	-fx-background-color: rgba(0,0,0,0.5);
}

#detail-menu > .hbox > .label {
	-fx-font-family: "Open Sans Bold";
	-fx-font-size: 10pt;
}

#detail-menu > .scroll-pane {
	-fx-padding: 0 12 0 12;
	-fx-border-width: 0.5;
	-fx-border-style: none solid none none;
	-fx-border-radius: 0;
	-fx-background-color: transparent;
}


#detail-menu > .scroll-pane > .viewport {
	-fx-background-color: transparent;
}

#monster-detail {
	-fx-background-color: transparent;	
	-fx-padding: 12 0 24 0;
	-fx-spacing: 12;
}

#monster-detail > #detail-grid {
	-fx-background-color: white;	
	-fx-hgap: 12;
}

#monster-detail > #detail-grid > .label {
	-fx-font-family: "Open Sans SemiBold";
	-fx-font-size: 10pt;
}

#monster-detail > #detail-grid > .text-field {
	-fx-background-color: transparent;
	-fx-border-width: 2;
	-fx-border-radius: 4;
	-fx-border-color: transparent;
	-fx-padding: 3 6 3 6;
	-fx-font-family: "Open Sans";
	-fx-font-size: 10pt;
}

#monster-detail > #detail-grid > .text-field:hover {
	-fx-background-color: rgba(0,0,0,0.1);
}


#monster-detail > #detail-grid > .text-field:focused {
	-fx-border-color: #70a3bb;
	-fx-background-color: transparent;
}

#stat-table {
	
}

#stat-table > .label {
	-fx-font-family: "Open Sans SemiBold";
}

#stat-table > .stat-row > .label {
	-fx-font-family: "Open Sans SemiBold";
}

.number-field {
	-fx-background-color: rgba(0,0,0,0.1);
	-fx-background-radius: 24;
	-fx-alignment: center;
	-fx-padding: 3 0 3 0;
	-fx-border-width: 2;
	-fx-border-radius: 24;
	-fx-border-color: transparent;
}

.number-field:hover{
	-fx-background-color: rgba(0,0,0,0.2);
}

.number-field:focused{
	-fx-background-color: transparent;
	-fx-border-color: #70a3bb;
}

#stat-table > .stat-row > .text-field {
	-fx-background-color: rgba(0,0,0,0.1);
	-fx-background-radius: 24;
	-fx-alignment: center;
	-fx-padding: 3 0 3 0;
	-fx-border-width: 2;
	-fx-border-radius: 24;
	-fx-border-color: transparent;
}

#stat-table > .stat-row > .text-field:hover{
	-fx-background-color: rgba(0,0,0,0.2);
}

#stat-table > .stat-row > .text-field:focused{
	-fx-background-color: transparent;
	-fx-border-color: #70a3bb;
}

.prof-list {
	-fx-border-style: solid none solid none;
	-fx-border-width: 1;
	-fx-border-color: lightgrey;
	-fx-background-color: transparent;
}

.prof-list > scroll-bar:vertical {
	-fx-background-color: transparent;
	-fx-set-padding: 24;
}


.create-box {
	-fx-padding: 3 12 3 12;
}

.create-box > .button {
	-fx-border-width: 0;
	-fx-background-color: transparent;
	-fx-background-radius: 24;
}

.create-box > .button:hover {
	-fx-background-color: rgba(0,0,0,0.25);
	
}

.create-box > .button:pressed {
	-fx-background-color: rgba(0,0,0,0.5);
}

.blank-text-field {
	-fx-background-color: transparent;
	-fx-border-width: 2;
	-fx-border-radius: 4;
	-fx-border-color: transparent;
	-fx-padding: 3 6 3 6;
	-fx-font-family: "Open Sans";
	-fx-font-size: 10pt;
}

.blank-text-field:hover {
	-fx-background-color: rgba(0,0,0,0.1);
}


.blank-text-field:focused {
	-fx-border-color: #70a3bb;
	-fx-background-color: transparent;
}

.cool-combo-box {
	-fx-border-color: rgba(0,0,0,0.1);
	-fx-background-color: rgba(0,0,0,0.1);
}

.cool-combo-box > .arrow-button {
	-fx-background-color: transparent;
	-fx-padding: 4;
}

.cool-combo-box:hover {
	-fx-background-color: rgba(0,0,0,0.25);
}

.cool-combo-box:pressed {
	-fx-background-color: rgba(0,0,0,0.5);
}

.cool-combo-box > .list-cell {
	-fx-background-color: transparent;
}

.cool-combo-cell:even, .cool-combo-cell:odd {
	-fx-background-color: white;
	-fx-text-fill: black;
}

.cool-combo-cell:filled:selected, .cool-combo-cell:filled:selected:focused {
	-fx-background-color: #70a3bb;
	-fx-text-fill: black;
}

.cool-combo-cell:filled:hover, .cool-combo-cell:filled:selected:hover {
	-fx-background-color: lightgrey;
	-fx-text-fill: black;
}

.cool-combo-cell > .label {
	-fx-text-fill: black;
}
