.root {
	-fx-background-color: white;
	-fx-border-width: 0;
	-fx-border-radius: 0;
	-fx-padding: 0 0 0 0;

}

.text-field {
	-fx-background-color: transparent;
	-fx-padding: 2 4 2 4;
	-fx-alignment: center-left;
}

.filter-field {
	-fx-background-color: #e3e3e3;
	-fx-border-width: 0.5;
	-fx-border-color: #e3e3e3;
	-fx-border-style: none none none none;
	-fx-padding: 4;
	-fx-font-size: 10;
	
	-fx-alignment: center-left;
	
	-fx-background-radius: 2;
	-fx-border-radius: 2;
	
	
	-fx-background-image: url("'/main/resources/ui/icons/filter.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: right center;
}

.filter-field:focused {
	-fx-border-color: lightgrey;

}


.button {
	-fx-border-width: 0;
	-fx-background-color: transparent;
	
}

.button:pressed {
	-fx-background-color: grey;
	
}

.button:hover {
	-fx-background-color: lightgrey;
	
}

.hbox {
	-fx-background-color: #e3e3e3;
	-fx-border-width: 0.5;
	-fx-border-color: #e3e3e3;
	-fx-padding: 0 0 0 0;
	
	-fx-alignment: center-left;
	
	-fx-background-radius: 2;
	-fx-border-radius: 2;
}

.hbox:focused {
	
	-fx-border-color: lightgrey;
	
}

.list-view {
	-fx-cell-size: 24;
	-fx-border-width: 0.5;
	-fx-border-color: #e3e3e3;
	-fx-border-radius: 2;
	
}

.list-cell:even, .list-cell:odd {
	-fx-background-color: white;
}


.list-cell:filled:selected, .list-cell:filled:selected:focused {
	-fx-background-color: #e3e3e3;
	-fx-text-fill: black;
}

.list-cell:filled:hover, .list-cell:filled:selected:hover {
	-fx-background-color: lightgrey;
}
